<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tyut.mapper.CategoryMapper">
    <cache/>
    <!--    在查询语句中，对数据库中表的column起了别名后，也就是在数据库中所对应的column名称变为了别名，所以需要将映射关系中的column设置为别名    -->
    <resultMap id="white" type="category">
        <id property="id" column="id"/>
        <result property="typeName" column="typeName"/>
        <collection property="goodList" ofType="good">
            <id property="id" column="gid"/>
            <result property="goodsName" column="goodsName"/>
            <result property="price" column="price"/>
            <result property="typeId" column="typeId"/>
        </collection>
    </resultMap>
    <select id="findWhite" resultMap="white">
        SELECT category.*, good.id gid, good.goodsName, good.price, good.typeId
        FROM category,
             good
        WHERE category.typeName = #{typeName}
          AND category.id = good.typeId
    </select>
</mapper>