<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tyut.mapper.IdCardMapper">
    <cache/>
    <select id="getIdCardById" resultType="IdCard">
        SELECT *
        FROM idcard
        WHERE id = #{id}
    </select>
</mapper>