<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tyut.mapper.OrdersMapper">
    <cache/>
    <select id="getOrders" resultType="orders">
        SELECT *
        FROM orders
        WHERE userId = #{id}
    </select>
</mapper>