<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tyut.mapper.PersonMapper">
    <cache/>
    <resultMap id="personNestQuery" type="Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <!--        下面中的column="card"是用于指定参与嵌套查询的外键列名，javaType指明将什么类型的实体放入该对象的property指明的属性中    -->
        <association property="card" javaType="IdCard" column="card"
                     select="cn.edu.tyut.mapper.IdCardMapper.getIdCardById"/>
    </resultMap>
    <resultMap id="personNestResult" type="Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <association property="card" javaType="IdCard">
            <id property="id" column="id"/>
            <result property="code" column="code"/>
        </association>
    </resultMap>
    <select id="getPersonById" resultMap="personNestQuery">
        SELECT *
        FROM person
        WHERE id = #{id}
    </select>
    <select id="getPersonById01" resultMap="personNestResult">
        SELECT person.*, idcard.code
        FROM person,
             idcard
        WHERE person.card = idcard.id
          AND person.id = #{id}
    </select>
</mapper>