<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间就是一个限定名，用来指定你要求的是哪个文件内的id为什么什么的sql语句-->
<mapper namespace="cn.edu.tyut.mapper.StudentMapper">
    <cache/>
    <select id="chooseSelectStudentByName" resultType="Student">
        SELECT * FROM student
        <where>
            <choose>
                <when test="name != null">
                    name = #{name}
                </when>
                <when test="major != null">
                    major = #{major}
                </when>
            </choose>
        </where>
    </select>
    <select id="ifSelectStudentByName" resultType="Student">
        SELECT * FROM student
        <where>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="major != null">
                AND major = #{major}
            </if>
        </where>
    </select>
    <select id="selectStudentById" resultType="Student">
        SELECT * FROM student
        <where>
            id in
            <foreach collection="list" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>